* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


:root {
        --title: #ffffff;
        --text: #999999;
}

header {
    width: 100%;
    height: 80px;
    background-color: black;
}

header .logo {
    float: left;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    margin-left: 15px;
    margin-top: 25px;
}

header a {
    float: right;
    font-size: 2rem;
    margin-right: 15px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 12px 16px;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}

header a:hover {
    background-color: white;
    color: black;
    transition: all;
    transition-duration: 0.5s;
    
}

.hero {
    background-color: white;
    color: black;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero .cardbox {
    width: 45%;
    height: 250px;
    border: 4px solid white;
    margin: auto;
    background-color: #333;
    color: white;
    border-radius: 25px;
}

.hero .cardbox i {
    font-size: 80px;
}

.hero .cardbox h2 {
    width: 90%;
    text-align: center;
    margin: auto;
    display: block;
}

.hero2 {
    background-color: #333;
    width: 100%;
    height: 1300px;
}

.hero2 i {
    color: white;
    font-size: 80px;
    margin: auto;
    display: block;
    text-align: center;
}

.hero2 h1 {
    color: var(--title);
    font-size: 3rem;
    text-align: center;
}

.hero2 p {
    color: var(--text);
    width: 30%;
    text-align: center;
    margin: auto;
    font-weight: 800;
}

.hero2 img {
    display: block;
    margin: auto;
}

footer a i {
   font-size: 3rem;
   padding: 14px 16px;
   border: 4px black solid;
   border-radius: 100px;
   text-align: center;
   margin: auto;
   display: inline-block;
   color: black;
   text-decoration: none;
}

footer a i:hover {
    font-size: 3rem;
    padding: 14px 16px;
    border: 4px black solid;
    border-radius: 100px;
    color: white;
    background-color: black;
    text-align: center;
    margin: auto;
    display: inline-block;
 }

footer .cf {
    display: block;
    margin: auto;
    text-align: center;
}